*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
.clear{
	clear:both;
}

.container{
	width:auto;
	min-width:300px;
	box-sizing:border-box;
	padding:0 20px 0 20px;
	margin:0 auto;
}

.fa-align-justify {
  color: white;
  float: right;
  font-size: 40px;
  padding: 17px 0;
  text-align:center;
  position:relative;
  top:0;
  right:0;
  z-index:10;
  /* displayをnoneに指定してください */
  display:none;
}



header{
	background-color:rgba(176,195,227,0.5);
	height:65px;
	padding:15px 20px;
	width:100%;
	box-sizing:border-box;
	position:fixed;
}





li a{
	text-decoration:none;
	color:rgba(255,255,255,0.5);
	font-family: 'Quicksand', sans-serif;
	padding:25px;
}
ul{
	position:relative;
	top:0;
	right:0;
	z-index:9;
}

p{
	text-align: center;
}

header{
	margin:0;
	width:100%;
}

.menu{
	color:gray;
}

body{
	background-color:white;
	
}

.header-left{
	line-height: 65px;
	height:65px;
	float:left;
}

.header-left p{
	font-family: 'Poiret One', cursive;
	font-size:40px;
	
	position:relative;
	top:0;
	left:0;
	z-index:9;
}


.header-right li{
	float:right;
	list-style:none;
	padding:0 20px;
	color:white;
	transition:all 1s;
}
.header-right li:hover{
	background-color:rgba(255,255,255,0.3);
	padding:0 55px;
}

.top-wrapper{
    width:100%;
    height:500px;
}

.images{
	width:50%;
	height:auto;
	/*margin:50px auto;*/
	display:inline-block;
	box-sizing:border-box;
	vertical-align:middle;
}

.image-content{
	height:auto;
	padding:100px 0 50px 0;
	text-align:center;
	/* display:block; */
	background-color:rgba(110,96,81,0.2);
	width:100%;
	box-sizing:border-box;
}

.image-size{
	margin:0 auto;
	width:50%;
}

.images img{
	/* width: 50%; */
	width:80%;
	max-width:350px;
	display:inline-block;
	margin:50px auto;
}



.heading{
	padding:50px 0 0 0;
}

.heading p{
	font-size:18px;
	font-family: 'Poiret One', cursive;
}

.movie-content{
	height:800px;
	background-color:rgba(110,96,81,0.2);
	padding: 50px 0;
}

.movie-wrapper{
	border-top:1px solid rgba(58,63,77,0.5);
	padding:15px 0;
	
}


.movies{
	display:inline-block;
	width:25%;
	padding:10px 20px 10px 20px;
}


.footer-wrapper{
	height:180px;
	background-color:burlywood;
	opacity:0.5;
}

nav.menu{ 
	width:25px; 
	height:30px; 
	top: 80px; 
	right:10px; 
	position:fixed; 
	cursor:pointer; 
	overflow:hidden; 
	z-index:9999; 
}

nav .menu1{
	width:25px;
	height:2px;
	background-color: #000;
	top:0px; position:absolute;
}

nav .menu2{ 
	width:25px; 
	height:2px; 
	background-color: #000; 
	top:8px; 
	position:absolute; 
}

nav .menu3{ 
	width:25px; 
	height:2px; 
	background-color: #000; 
	top:16px; 
	position:absolute; 
}


nav .menu1,nav .menu2,nav .menu3{ 
	transition: all 0.5s ease-out; 
	-o-transition: all 0.5s ease-out; 
	/* Opera */ 
	-moz-transition: all 0.5s ease-out; 
	/* Firefox */
	-webkit-transition: all 0.5s ease-out; 
	/* GoogleChrome, Safari */ 
	-ms-transition: all 0.5s ease-out; 
	/* IE */ 
}

nav .menuclick1		{ 
	top:8px; 
	-o-transform: rotate(405deg); 
	-moz-transform: rotate(405deg); 
	-webkit-transform: rotate(405deg);
	-ms-transform: rotate(405deg); 
	transform: rotate(405deg); 
}



nav .menuclick2		{ 
	background-color:rgba(255,255,255,0);  
}

nav .menuclick3		{ 
	top:8px; 
	-o-transform: rotate(-405deg); 
	-moz-transform: rotate(-405deg);
	-webkit-transform: rotate(-405deg); 
	-ms-transform: rotate(-405deg); 
	transform: rotate(-405deg); 
}
